body, h1, h2, p, nav, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, p{
    margin-bottom: 1rem;

}

header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/* CSS para nav, a */
nav a {
    color: #333;
    padding: 0 10px;
}

nav a:hover{
    color: rgb(60, 106, 156);
}

nav a::after {
    content: "|";
    padding: 0 10px;
}

nav a:last-child::after {
    content: none;
} 

/* padding a main*/

main {
    padding: 20px;
}

/* Estilos de galeria de imagen*/

.galeria {
    display: flex; /* display flex aplica flex direction-row, lo que hace que los elementos esten posicionados horizontalmente en la web*/
    flex-wrap: wrap; /* display wrap arrastra las imagenes o el contenido hacia abajo*/
    justify-content: space-around;
    /* con esto, ya tendriamos un diseño responsive basico */

}

/* con esto decidiremos tener 5 imagenes en pantalla
    como se hace, se divide la cantidad que es 5 por 100(100% de la pagina)
    y se aplica en un width calc() -- esto es para PC escritorio */
.galeria img{
    margin: 1rem;
    width: calc(20% - 2rem);
}

#contact-form {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input, .form-group textarea {
    width:100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  

footer {
    background-color: #7a6868;
    text-align: center;
    padding: 20px;
    /* Con esto solucionamos el sticly footer*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Notebooks*/
@media (max-width: 1200px) {
    .galeria img {
        margin: 1rem;
        width: calc(25% - 2rem);
    }
}

/* Tablets*/

@media (max-width: 992px) {
    .galeria img {
        margin: 1rem;
        width: calc(33,333% - 2rem);
    }
}

@media (max-width: 778px) {
    .galeria img {
        margin: 1rem;
        width: calc(100% - 2rem);
    }
}

@media (max-width: 576px) {
    .galeria img {
        margin: 1rem;
        width: calc(100% - 2rem);
    }
}
@media (max-width: 369px) {
    .galeria img {
        margin: 1rem;
        width: calc(100% - 2rem);
    }

    nav a {
        display: block;
        margin: 0.5rem 0;
    }

    nav a::after {
        content: none;
    }
}